<?xml version="1.0"?>
<config>
    <modules>
        <SE_ProfilerSparkow>
            <version>1.0.0</version>
        </SE_ProfilerSparkow>
    </modules>
    <global>
        <models>
            <se_profilersparkow>
                <class>SE_ProfilerSparkow_Model</class>
            </se_profilersparkow>
            <veritas_sparkow>
                <rewrite>
                    <product>SE_ProfilerSparkow_Model_Product</product>
                    <category>SE_ProfilerSparkow_Model_Category</category>
                    <lastviewed>SE_ProfilerSparkow_Model_Lastviewed</lastviewed>
                </rewrite>
            </veritas_sparkow>
        </models>
        <events>
            <se_profiler_get_tabs>
                <observers>
                    <add_sparkow_tab>
                        <class>SE_ProfilerSparkow_Model_Observer</class>
                        <method>addTab</method>
                    </add_sparkow_tab>
                </observers>
            </se_profiler_get_tabs>
            <http_response_send_before>
                <observers>
                    <remove_session>
                        <type>singleton</type>
                        <class>SE_ProfilerSparkow_Model_Observer</class>
                        <method>removeSession</method>
                    </remove_session>
                </observers>
            </http_response_send_before>
        </events>
        <helpers>
            <se_profilersparkow>
                <class>SE_ProfilerSparkow_Helper</class>
            </se_profilersparkow>
        </helpers>
    </global>
</config>
